@model  IEnumerable<Spargo_Technology_Test_Project.Models.ViewModels.ProductModel>

    @{
    ViewData["Title"] = "PharmaciesProductsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Все партии</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <th>
                    Название продукта
                </th>
                
            </tr>
        @foreach(var m in Model)
        {
            <tr>
            <th>
                @m.Name
            </th>
            <th>
                <a onclick="return confirm('Вы уверены, что хотите удалить запись?')" asp-action="Delete" asp-route-id="@m.Id" asp-route-isAllProducts="false">удалить</a>
            </th>
            </tr>
        }
        </table>
    </div>
</div>

<div>
    <a asp-controller="Pharmacy" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
